---

---    
<nav>
    <div class="z-20 fixed bottom-6 left-1/2 -translate-x-1/2 mx-auto bg-gray-100 lg:w-15 lg:px-16 border border-black shadow-xl">
        <ul class="flex w-auto items-center h-14 lg:gap-16 px-10">
            <li><a href="/" class="flex items-center"><img src="https://img.icons8.com/ios/50/home--v1.png" alt="home--v1" /></a></li>
            <li><a href="/search/" class="flex items-center"><img src="https://img.icons8.com/ios/50/wordbook.png" alt="wordbook" /></a></li>
            <li><a href="/quiz/" class="flex items-center"><img src="https://img.icons8.com/ios/50/ask-question--v1.png" alt="ask-question--v1" /></a></li>
        </ul>
    </div>
</nav>

